@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif, Poppins;
}

.body-text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
.audio { position: absolute;
         top: 20px;
         right: -80px; 
        background: transparent;}
.title1 {  font-family: "Spartan", sans-serif;
          font-size: 4rem;  
        position: absolute;
         top: 20px;
         right: 229px;
     color: red;
      margin-right: 400px;
      background: url(./button.png);
  background-color: transparent;
}

      .title2 {  font-family: "Spartan", sans-serif;
        font-size: 4rem;  
      position: absolute;
       top: 20px;
       left: 615px;
   color: green;
    
   font-family: 'Dancing Script', cursive;
   font-family: 'Gulzar', serif;
   font-family: 'Lato', sans-serif;
   font-family: 'Playfair Display', serif;
   font-family: 'Poppins', sans-serif;
   font-family: 'Roboto Condensed', sans-serif;
   font-family: 'Rubik', sans-serif;
   background: url(./button.png);
   background-color: transparent;
     }



h2 {
  position: relative;
  margin: 0;
  font-size: 4em;
  font-weight: 900;
  color: #fff;

  z-index: 1;
  overflow: hidden;
}
h2:before {
  content: "";
  position: absolute;
  left: 120%;
  width: 120%;
  height: 100%;
  background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
  animation: animate 7.5s linear forwards;
}
@keyframes animate {
  0% {
    left: 110%;
  }
  100% {
    left: -10%;
  }
}
h2 span {
  color: #ff022c;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  pointer-events: none;
  mix-blend-mode: screen;
}

/* .kora {
  width: 45%;
}

.kora img {
  width: 100px;
}  */

.ballon {
  position: absolute;
  width: 120px; /* Adjust width for smaller screens */
  animation: rotate 2s linear infinite;
  left: 868px; /* Adjust left position for smaller screens */
  top:23px;
  bottom: 447px;

}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.back { 
  position: relative;
   opacity: 0.5;
   width: 100%;
    height: 100vh;
  }
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;


}

.container {
  position: absolute;
  margin-top: 100px;
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}

.description p {
  color: F1EFEF;
  padding-top: 5px;
}

.description h4 {
  text-transform: uppercase;
}

input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url("./img1.jpeg");
}
.card[for="c2"] {
  background-image: url("./img2.jpeg");
}
.card[for="c3"] {
  background-image: url("./img3.jpeg");
}
.card[for="c4"] {
  background-image: url("./img4.jpeg");
}
